main {
  background: url('chrome-extension://__MSG_@@extension_id__/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main h2 a {
  color: #fff;
}

main .todo-list {
  background-color: #515151;
  border: 1px solid #363636;
}

